@import "../styles/vars";

.button {
  color: $white;
  padding: 0.9vw 2vw;
  border: 1px solid $white;
  text-decoration: none;
  transition: $transition;

  &:hover {
    background-color: $white;
    color: $black;
  }
}
