@import "../../../styles/vars";

.gameWrapper {
  display: grid;
  grid-template-columns: repeat(5, 130px);
  grid-gap: 30px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 130px;
  border: 1px solid $white;
  transform-style: preserve-3d;
  transition: $transition;
  cursor: pointer;

  &.opened {
    color: $green;
    pointer-events: none;
    transform: rotateY(180deg);
    cursor: default;
  }
}

.cardImg {
  width: 70%;
  transform: rotateY(180deg);
}
