// COLORS
$green: #00D740;
$black: #000000;
$orange: #FF5C00;
$white: #FFFFFF;
$red: #B00000;
$red_light: #FF1717;
$grey: #2D2D2D;
$grey_light: #696969;
$blue: #1C18FF;

// FONT
$fs_medium: 1.2vw;
$font_family: "Courier Prime", monospace;

// ANIMATION
$transition: 0.2s all;