// COLORS
$green: #00d740;
$black: #000000;
$orange: #ff5c00;
$white: #ffffff;
$red: #b00000;
$red_light: #ff1717;
$grey: #2d2d2d;
$grey_light: #696969;
$blue: #1c18ff;

// FONT
$fs_medium: 1.2vw;
$font_family: "Courier Prime", monospace;

// ANIMATION
$transition: 0.2s all;
